
  .item {
    display: flex;

    padding: 10px 20px;
    text-align: center;
    justify-content: space-evenly;

    /* width: 250px; */
    /* height: auto; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .item:not(:last-child) {
    margin-right: 16px;
  }
  .status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 15px;
  }
  .online {
      background-color: green;

  }
  .offline {
      background-color: red;

  }
  .avatar {
    margin-right: 20px;
    border-radius: 10%;
    height: auto;
    width: 60px;
  }
  .name {
    font-size: 30px;
    margin: 10px;
  }
